<% include partials/header.ejs %>
<link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

	<div class="container">
		<div class="leftdiv">
		  <div class="userprof">
              <% if(user.thumbnail) { %>
                <img src=" <%= user.thumbnail %>" alt="">  
                <%     }else{%> 
                <img src="../img/user.JPG" alt=""> 
                <% } %>   
			
			<h1 id="username"><%= user.username %></h1>
		  </div>
		  <ul class="featlist">
			<li>Home</li>
			<li>Register Complaint</li>
			<li>Check Status</li>
			<li>Feedback</li>
			<div class="logoutbtn"><a href="/auth/logout">Logout</a></div>
		</ul>
		</div>
		<div class="rightdiv">

		<div class="home">
		  <h1>Home</h1>
		  <div>
				<% if (message.length > 0) { %>
					<div><p><%= message %></p></div>
				<% } %>
		  <div class="charts">
        <div class="">
      <canvas id="chart1" width="300" height="300"></canvas>
        <h1>Grievance</h1>
        </div>
        <div class="">
        <canvas id="chart2" width="300" height="300"></canvas>
        <h1>Citizens Registered</h1>
        </div>
		  </div>
		</div>
  </div>

		<div class="regcomp">
		<h1>Register Complaint</h1>
		<form action="/profile/complaint" method="POST">
		<div class="regsubmit">
		  <div class="form-group">
			<h1>Please Fill The Form</h1>
        <form action="/profile/complaint" method="POST">
			<label for="">Complaint Category: </label>
            <select name="complaintCategory" id="">
                <option value="null" selected="selected">Choose One</option>
                <option value="Bhavan Rachna Department">Bhavan Rachna Department</option>
                <option value="Birth and Death">Birth and Death</option>
                <option value="Building Permission">Building Permission</option>
                <option value="City Engineer">City Engineer</option>
                <option value="Development Planning">Development Planning</option>
                <option value="Drainage">Drainage</option>
                <option value="Education">Education</option>
                <option value="Electrical">Electrical</option>
                <option value="Encroachment">Encroachment</option>
                <option value="Garbage">Garbage (SWM)</option>
                <option value="Garden">Garden</option>
                <option value="Health">Health</option>
                <option value="Health Kitak">Health Kitak</option>
                <option value="License Skyline">License Skyline</option>
                <option value="Noise Pollution">Noise Pollution</option>
                <option value="Property Tax">Property Tax</option>
                <option value="Pune Smart City">Pune Smart City (PSCDCL)</option>
                <option value="Road">Road</option>
                <option value="Slum">Slum</option>
                <option value="Other">Other</option>
            </select>
            <label for="">Complaint Description:</label>
            <textarea name="complaintDesc" rows="4" cols="80" class="txtarea"></textarea>
            <p>Complaint by: <%= user.username %></p>
            <label for="">Location:</label>
            <textarea name="complaintLoc" rows="2" cols="40" class="txtarea"></textarea>
			<button type="submit" name="complaint">Send</button>
        </form>
        </div>
		</div>
		</form>
		</div>

		<div class="checkstatus">
		<h1>Check Status</h1>
		  <div class="checkquery">
			<div class="">
			  <h1>Enter Token Number</h1>
        <form>
        <input type="text" name="" value="" placeholder="Token no."></input>
			  <button type="submit" name="checkstatus">Check</button>
      </form>
			</div>
		  </div>
		</div>


		<div class="feedbackpg">
		  <h1>Feedback</h1>
		  <div class="feedbackform">
			<h1>Enter Your Feedback Here</h1>
			<div>
        <form action="/profile/feedback" method="POSt">
			<input type="text" name="email" value="" placeholder="e-mail address"></input>
			<textarea name="body" rows="8" cols="80" class="txtarea"></textarea>
			<button type="submit" name="button">Send</button>
    	</form>
		  </div>
		  </div>
		</div>


	</div>

</body>
<script type="text/javascript" src="../js/Chart.min.js"></script>
<script src="../js/jq.min.js"></script>
<script src="../js/script.js"></script>
<% include partials/footer.ejs %>
