<% include partials/header.ejs %>
<link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

	<div class="container">
		<div class="leftdiv">
		  <div class="userprof">
			<img src="../img/user.JPG" alt="">
			<h1 id="username"><%= user.username %></h1>
		  </div>
		  <ul class="featlist">
			<li>Home</li>
			<li>Register Complaint</li>
			<li>Check Status</li>
			<li>Feedback</li>
			<div class="logoutbtn"><a href="/auth/logout">Logout</a></div>
		</ul>
		</div>
		<div class="rightdiv">

		<div class="home">
		  <h1>Home</h1>
		  <div class="charts">
      <canvas id="chart1" width="300" height="300"></canvas>
		  </div>
		</div>

		<div class="regcomp">
		<h1>Register Complaint</h1>

		<div class="regsubmit">
		  <div class="form-group">
			<h1>Please Fill The Form</h1>
      <form>
			<label for=""></label>
			<input type="text" class="form-control" id="" placeholder="">
			<input type="text" class="form-control" id="" placeholder="">
			<input type="text" class="form-control" id="" placeholder="">
			<input type="text" class="form-control" id="" placeholder="">
			<textarea name="complaintsum" rows="8" cols="80" class="txtarea"></textarea>

			<button type="submit" name="complaint">Send</button>
    </form>
      </div>
		</div>
		</div>

		<div class="checkstatus">
		<h1>Check Status</h1>
		  <div class="checkquery">
			<div class="">
			  <h1>Enter Token Number</h1>
        <form>
        <input type="text" name="" value="" placeholder="Token no."></input>
			  <button type="submit" name="checkstatus">Check</button>
      </form>
			</div>
		  </div>
		</div>

		<div class="feedbackpg">
		  <h1>Feedback</h1>
		  <div class="feedbackform">
			<h1>Enter Your Feedback Here</h1>
			<div>
        <form>
			<input type="text" name="" value="" placeholder="e-mail address"></input>
			<textarea name="complaintsum" rows="8" cols="80" class="txtarea"></textarea>
			<button type="submit" name="button">Send</button>
    </form>
		  </div>
		  </div>
		</div>

		</div>

	</div>

</body>
<script type="text/javascript" src="../js/Chart.min.js"></script>
<script src="../js/jq.min.js"></script>
<script src="../js/script.js"></script>
<script type="text/javascript">
var ctx = document.getElementById("chart1");
ctx.height= 300;
ctx.width = 300;
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["Submitted", "Resolved", "Pending"],
        datasets: [{
            label: '# of Votes',
            data: [200, 130, 70],
            backgroundColor: [
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
<% include partials/footer.ejs %>
