<% include partials/header.ejs %>
<link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

	<div class="container">
		<div class="leftdiv">
		  <div class="userprof">
			<img src="../img/user.JPG" alt="">
			<h1 id="username"><%= user.username %></h1>
		  </div>
		  <ul class="featlist">
			<li>Home</li>
			<li>Register Complaint</li>
			<li>Check Status</li>
			<li>Feedback</li>
			<div class="logoutbtn"><a href="/auth/logout">Logout</a></div>
		</ul>
		</div>
		<div class="rightdiv">

		<div class="home">
		  <h1>Home</h1>
		  <div>

		  </div>
		</div>

		<div class="regcomp">
		<h1>Register Complaint</h1>

		<div class="regsubmit">
		  <div class="form-group">
			<h1>Please Fill The Form</h1>
			<label for=""></label>
			<input type="text" class="form-control" id="" placeholder="">
			<input type="text" class="form-control" id="" placeholder="">
			<input type="text" class="form-control" id="" placeholder="">
			<input type="text" class="form-control" id="" placeholder="">
			<textarea name="complaintsum" rows="8" cols="80" class="txtarea"></textarea>

			<button type="submit" name="complaint">Send</button>
			</div>
		</div>
		</div>

		<div class="checkstatus">
		<h1>Check Status</h1>
		  <div class="checkquery">
			<div class="">
			  <h1>Enter Token Number</h1>
			  <input type="text" name="" value="" placeholder="Token no."></input>
			  <button type="submit" name="checkstatus">Check</button>
			</div>
		  </div>
		</div>

		<div class="feedbackpg">
		  <h1>Feedback</h1>
		  <div class="feedbackform">
			<h1>Enter Your Feedback Here</h1>
			<div>
			<input type="text" name="" value="" placeholder="e-mail address"></input>
			<textarea name="complaintsum" rows="8" cols="80" class="txtarea"></textarea>
			<button type="submit" name="button">Send</button>
		  </div>
		  </div>
		</div>

		</div>

	</div>

</body>
<script src="../js/jq.min.js"></script>
<script src="../js/script.js"></script>
<% include partials/footer.ejs %>