@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
  background: black;
  font-family: Nunito;
}
.container{
  display: flex;
  align-items: center;
  width: 100%;
}
.leftdiv{
  background: #0F161F;
  height: 100vh;
  min-width: 300px;
  width: 20%;
  border-top-left-radius: 20px;
}
.rightdiv{
  background: #eee;
  height: 100vh;
  width: 80%;
  border-top-right-radius: 20px;
}
.userprof{
  margin: 0 auto;
  margin-top: 20px;
}
.userprof>img{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-left: 25%;
  text-align: center;
}
#username{
  font-size: 30px;
  text-align: center;
  color: #eee;
  font-weight: lighter;
}
.featlist{
  font-size: 24px;
  color: #eee;
  list-style: none;
  cursor: pointer;
}
.featlist>li{
  line-height: 50px;
  transition: all ease-in-out .3s;
}
.featlist>li:hover{
  color:#f97459;
}
.logoutbtn{
  margin-top: 50px;
}
.logoutbtn>a{
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  background: black;
  color: #eee;
  border: none;
  padding: 5px;
  border-radius: 16px;
  transition: all ease-in-out .3s;
  display: inline-block;
}
.logoutbtn>a:hover{
  background: #a31c1c;
}
.rightdiv{
  padding-left: 30px;
  padding-right: 30px;
  background: #0DAB76;
}
.home>h1,.regcomp>h1,.checkstatus>h1,.feedbackpg>h1{
  font-size: 40px;
  border-bottom: 2px solid #f97459;
  display: inline-block;
}
.regcomp,.feedbackpg,.checkstatus{
  display: none;
  /* background: #036AD2; */
}
.checkquery,.regsubmit,.feedbackform{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* align-content: center; */
  /* justify-content: center; */
}
form>input{
  display: block;
  margin-bottom: 20px;
}
input{
  border-radius: 20px;
  padding: 4px;
  font-size: 15px;
  background: #282828;
  color: #eee;
  border: none;
}
.txtarea{
  background: #181818;
  color: #eee;
  display: block;
}
button{
  background: #0F1020;
  color: #eee;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 4px;
}
